In [1]:
import os
import pandas as pd
import numpy as np
from datetime import datetime

from zipfile import ZipFile
from urllib.request import urlopen
from io import BytesIO

In [2]:
# create directory
if not os.path.isdir('citi_bike'):
    os.makedirs('citi_bike')

### Extract CitiBike data
Source: https://s3.amazonaws.com/tripdata/index.html

In [3]:
# placeholder for monthly df
df_files = [
    'df_2020_01', 'df_2020_02', 'df_2020_03', 'df_2020_04', 'df_2020_05', 'df_2020_06', 
    'df_2020_07', 'df_2020_08', 'df_2020_09', 'df_2020_10', 'df_2020_11', 'df_2020_12']

In [4]:
def read_zip_file(year, month):
    """Extract data from citibike, convert to Pandas DataFrame
    
    parameters
    ----------
        year: string
        month: string
        
    return
    ------
        df: Pandas DataFrame"""
    
    url = f"https://s3.amazonaws.com/tripdata/{year}{month}-citibike-tripdata.csv.zip"
    
    response = urlopen(url)
    zipfiles = ZipFile(BytesIO(response.read()))
    file_name = zipfiles.namelist()[0]
    file = zipfiles.open(file_name)
    df = pd.read_csv(file, low_memory=False)
        
    if month == '01':
        df["month"] = 'Jan'
    elif month == '02':
        df["month"] = 'Feb'
    elif month == '03':
        df["month"] = 'Mar'
    elif month == '04':
        df["month"] = 'Apr'
    elif month == '05':
        df["month"] = 'May'
    elif month == '06':
        df["month"] = 'Jun'
    elif month == '07':
        df["month"] = 'Jul'
    elif month == '08':
        df["month"] = 'Aug'
    elif month == '09':
        df["month"] = 'Sep'
    elif month == '10':
        df["month"] = 'Oct'
    elif month == '11':
        df["month"] = 'Nov'
    elif month == '12':
        df["month"] = 'Dec'
        
    return df

In [5]:
year = 2020
for i in range(0, 12):
    if i == 0:
        month = "01"
        df_files[i]  = read_zip_file(year, month)
        print(f"Jan df_files[{i}]")
        
    elif i == 1:
        month = "02"
        df_files[i]  = read_zip_file(year, month)
        print(f"Feb df_files[{i}]")
        
    elif i == 2:
        month = "03"
        df_files[i]  = read_zip_file(year, month)
        print(f"Mar df_files[{i}]")

    elif i == 3:
        month = "04"
        df_files[i]  = read_zip_file(year, month)
        print(f"Apr df_files[{i}]")

    elif i == 4:
        month = "05"
        df_files[i]  = read_zip_file(year, month)
        print(f"May df_files[{i}]")

    elif i == 5:
        month = "06"
        df_files[i]  = read_zip_file(year, month)
        print(f"Jun df_files[{i}]")

    elif i == 6:
        month = "07"
        df_files[i]  = read_zip_file(year, month)
        print(f"Jul df_files[{i}]")

    elif i == 7:
        month = "08"
        df_files[i]  = read_zip_file(year, month)
        print(f"Aug df_files[{i}]")

    elif i == 8:
        month = "09"
        df_files[i]  = read_zip_file(year, month)
        print(f"Sep df_files[{i}]")

    elif i == 9:
        month = "10"
        df_files[i]  = read_zip_file(year, month)
        print(f"Oct df_files[{i}]")

    elif i == 10:
        month = "11"
        df_files[i]  = read_zip_file(year, month)
        print(f"Nov df_files[{i}]")

    elif i == 11:
        month = "12"
        df_files[i]  = read_zip_file(year, month)
        print(f"Dec df_files[{i}]")

Jan df_files[0]
Feb df_files[1]
Mar df_files[2]
Apr df_files[3]
May df_files[4]
Jun df_files[5]
Jul df_files[6]
Aug df_files[7]
Sep df_files[8]
Oct df_files[9]
Nov df_files[10]
Dec df_files[11]

In [6]:
nyc_2020 = pd.concat([df_files[0],df_files[1], df_files[2],df_files[3], df_files[4], df_files[5],
                          df_files[6],df_files[7],df_files[8],df_files[9],df_files[10],df_files[11]])
nyc_2020.head()

,tripduration,starttime,stoptime,start station id,start station name,start station latitude,start station longitude,end station id,end station name,end station latitude,end station longitude,bikeid,usertype,birth year,gender,month
0,789,2020-01-01 00:00:55.3900,2020-01-01 00:14:05.1470,504,1 Ave & E 16 St,40.732219,-73.981656,307,Canal St & Rutgers St,40.714275,-73.989900,30326,Subscriber,1992,1,Jan
1,1541,2020-01-01 00:01:08.1020,2020-01-01 00:26:49.1780,3423,West Drive & Prospect Park West,40.661063,-73.979453,3300,Prospect Park West & 8 St,40.665147,-73.976376,17105,Customer,1969,1,Jan
2,1464,2020-01-01 00:01:42.1400,2020-01-01 00:26:07.0110,3687,E 33 St & 1 Ave,40.743227,-73.974498,259,South St & Whitehall St,40.701221,-74.012342,40177,Subscriber,1963,1,Jan
3,592,2020-01-01 00:01:45.5610,2020-01-01 00:11:38.1550,346,Bank St & Hudson St,40.736529,-74.006180,490,8 Ave & W 33 St,40.751551,-73.993934,27690,Subscriber,1980,1,Jan
4,702,2020-01-01 00:01:45.7880,2020-01-01 00:13:28.2400,372,Franklin Ave & Myrtle Ave,40.694546,-73.958014,3637,Fulton St & Waverly Ave,40.683239,-73.965996,32583,Subscriber,1982,1,Jan

In [7]:
# Add JC files

def read_JC_zip_file(year, month):
    
    url_JC = f"https://s3.amazonaws.com/tripdata/JC-{year}{month}-citibike-tripdata.csv.zip"
    
    response = urlopen(url_JC)
    zipfiles = ZipFile(BytesIO(response.read()))
    file_name = zipfiles.namelist()[0]
    file = zipfiles.open(file_name)
    df = pd.read_csv(file, low_memory=False)
        
    if month == '01':
        df["month"] = 'Jan'
    elif month == '02':
        df["month"] = 'Feb'
    elif month == '03':
        df["month"] = 'Mar'
    elif month == '04':
        df["month"] = 'Apr'
    elif month == '05':
        df["month"] = 'May'
    elif month == '06':
        df["month"] = 'Jun'
    elif month == '07':
        df["month"] = 'Jul'
    elif month == '08':
        df["month"] = 'Aug'
    elif month == '09':
        df["month"] = 'Sep'
    elif month == '10':
        df["month"] = 'Oct'
    elif month == '11':
        df["month"] = 'Nov'
    elif month == '12':
        df["month"] = 'Dec'
        
    return df

In [8]:
year = 2020
for i in range(0, 12):
    if i == 0:
        month = "01"
        df_files[i]  = read_JC_zip_file(year, month)
        print(f"Jan JC df_files[{i}]")
        
    elif i == 1:
        month = "02"
        df_files[i]  = read_JC_zip_file(year, month)
        print(f"Feb JC df_files[{i}]")
        
    elif i == 2:
        month = "03"
        df_files[i]  = read_JC_zip_file(year, month)
        print(f"Mar JC df_files[{i}]")

    elif i == 3:
        month = "04"
        df_files[i]  = read_JC_zip_file(year, month)
        print(f"Apr JC df_files[{i}]")

    elif i == 4:
        month = "05"
        df_files[i]  = read_JC_zip_file(year, month)
        print(f"May JC df_files[{i}]")

    elif i == 5:
        month = "06"
        df_files[i]  = read_JC_zip_file(year, month)
        print(f"Jun JC df_files[{i}]")

    elif i == 6:
        month = "07"
        df_files[i]  = read_JC_zip_file(year, month)
        print(f"Jul JC df_files[{i}]")

    elif i == 7:
        month = "08"
        df_files[i]  = read_JC_zip_file(year, month)
        print(f"Aug JC df_files[{i}]")

    elif i == 8:
        month = "09"
        df_files[i]  = read_JC_zip_file(year, month)
        print(f"Sep JC df_files[{i}]")

    elif i == 9:
        month = "10"
        df_files[i]  = read_JC_zip_file(year, month)
        print(f"Oct JC df_files[{i}]")

    elif i == 10:
        month = "11"
        df_files[i]  = read_JC_zip_file(year, month)
        print(f"Nov JC df_files[{i}]")

    elif i == 11:
        month = "12"
        df_files[i]  = read_JC_zip_file(year, month)
        print(f"Dec JC df_files[{i}]")

Jan JC df_files[0]
Feb JC df_files[1]
Mar JC df_files[2]
Apr JC df_files[3]
May JC df_files[4]
Jun JC df_files[5]
Jul JC df_files[6]
Aug JC df_files[7]
Sep JC df_files[8]
Oct JC df_files[9]
Nov JC df_files[10]
Dec JC df_files[11]

In [9]:
allData = pd.concat([nyc_2020, df_files[0],df_files[1], df_files[2],df_files[3], df_files[4], df_files[5],
                          df_files[6],df_files[7],df_files[8],df_files[9],df_files[10],df_files[11]])
allData.head()

,tripduration,starttime,stoptime,start station id,start station name,start station latitude,start station longitude,end station id,end station name,end station latitude,end station longitude,bikeid,usertype,birth year,gender,month
0,789,2020-01-01 00:00:55.3900,2020-01-01 00:14:05.1470,504,1 Ave & E 16 St,40.732219,-73.981656,307,Canal St & Rutgers St,40.714275,-73.989900,30326,Subscriber,1992,1,Jan
1,1541,2020-01-01 00:01:08.1020,2020-01-01 00:26:49.1780,3423,West Drive & Prospect Park West,40.661063,-73.979453,3300,Prospect Park West & 8 St,40.665147,-73.976376,17105,Customer,1969,1,Jan
2,1464,2020-01-01 00:01:42.1400,2020-01-01 00:26:07.0110,3687,E 33 St & 1 Ave,40.743227,-73.974498,259,South St & Whitehall St,40.701221,-74.012342,40177,Subscriber,1963,1,Jan
3,592,2020-01-01 00:01:45.5610,2020-01-01 00:11:38.1550,346,Bank St & Hudson St,40.736529,-74.006180,490,8 Ave & W 33 St,40.751551,-73.993934,27690,Subscriber,1980,1,Jan
4,702,2020-01-01 00:01:45.7880,2020-01-01 00:13:28.2400,372,Franklin Ave & Myrtle Ave,40.694546,-73.958014,3637,Fulton St & Waverly Ave,40.683239,-73.965996,32583,Subscriber,1982,1,Jan

In [10]:
allData.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 19843659 entries, 0 to 11693
Data columns (total 16 columns):
 #   Column                   Dtype
---  ------                   -----
 0   tripduration             int64
 1   starttime                object
 2   stoptime                 object
 3   start station id         int64
 4   start station name       object
 5   start station latitude   float64
 6   start station longitude  float64
 7   end station id           int64
 8   end station name         object
 9   end station latitude     float64
 10  end station longitude    float64
 11  bikeid                   int64
 12  usertype                 object
 13  birth year               int64
 14  gender                   int64
 15  month                    object
dtypes: float64(4), int64(6), object(6)
memory usage: 2.5+ GB

In [11]:
# Drop Null
allData.dropna()

# Drop unknown gender 
allData = allData[allData.gender != 0]
# Rename values in gender column with strings
gender = {1:"Male", 2:"Female"}
allData.gender = [gender[item] for item in allData.gender]

In [12]:
# Drop rows where the trip duration is less than 90 seconds and where the start and end stations are the same
allData = allData.loc[((allData["tripduration"]>90) & (allData["start station id"] != allData["end station id"])),:]

In [13]:
# Convert trip duration column from seconds to minutes
allData["tripduration(min)"] = [trip/60 for trip in allData["tripduration"]]

# Filter out trips over 24 hours long
allData = allData.loc[allData["tripduration(min)"] < 1440, :]

# Rename trip duration column
allData.rename(columns={"tripduration":"tripduration(sec)"})

,tripduration(sec),starttime,stoptime,start station id,start station name,start station latitude,start station longitude,end station id,end station name,end station latitude,end station longitude,bikeid,usertype,birth year,gender,month,tripduration(min)
0,789,2020-01-01 00:00:55.3900,2020-01-01 00:14:05.1470,504,1 Ave & E 16 St,40.732219,-73.981656,307,Canal St & Rutgers St,40.714275,-73.989900,30326,Subscriber,1992,Male,Jan,13.150000
1,1541,2020-01-01 00:01:08.1020,2020-01-01 00:26:49.1780,3423,West Drive & Prospect Park West,40.661063,-73.979453,3300,Prospect Park West & 8 St,40.665147,-73.976376,17105,Customer,1969,Male,Jan,25.683333
2,1464,2020-01-01 00:01:42.1400,2020-01-01 00:26:07.0110,3687,E 33 St & 1 Ave,40.743227,-73.974498,259,South St & Whitehall St,40.701221,-74.012342,40177,Subscriber,1963,Male,Jan,24.400000
3,592,2020-01-01 00:01:45.5610,2020-01-01 00:11:38.1550,346,Bank St & Hudson St,40.736529,-74.006180,490,8 Ave & W 33 St,40.751551,-73.993934,27690,Subscriber,1980,Male,Jan,9.866667
4,702,2020-01-01 00:01:45.7880,2020-01-01 00:13:28.2400,372,Franklin Ave & Myrtle Ave,40.694546,-73.958014,3637,Fulton St & Waverly Ave,40.683239,-73.965996,32583,Subscriber,1982,Male,Jan,11.700000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
11680,301,2020-12-31 22:07:03.0280,2020-12-31 22:12:04.2870,3678,Fairmount Ave,40.725726,-74.071959,3195,Sip Ave,40.730897,-74.063913,44394,Customer,1997,Male,Dec,5.016667
11681,224,2020-12-31 22:09:56.0360,2020-12-31 22:13:40.5550,3211,Newark Ave,40.721525,-74.046305,3269,Brunswick & 6th,40.726012,-74.050389,48913,Subscriber,1990,Male,Dec,3.733333
11682,591,2020-12-31 22:10:54.8540,2020-12-31 22:20:46.1760,3276,Marin Light Rail,40.714584,-74.042817,3638,Washington St,40.724294,-74.035483,45256,Customer,1989,Female,Dec,9.850000
11683,585,2020-12-31 22:11:08.4300,2020-12-31 22:20:53.8980,3276,Marin Light Rail,40.714584,-74.042817,3638,Washington St,40.724294,-74.035483,44401,Customer,1986,Male,Dec,9.750000
11691,1761,2020-12-31 23:31:09.4620,2021-01-01 00:00:31.3290,3195,Sip Ave,40.730897,-74.063913,3270,Jersey & 6th St,40.725289,-74.045572,40907,Customer,1998,Male,Dec,29.350000

In [14]:
# Add ride id column to uniquely identify each ride
allData["rideid"] = allData["start station id"].map(str) + "_" + allData["end station id"].map(str)

In [15]:
allData.count()

tripduration               16740962
starttime                  16740962
stoptime                   16740962
start station id           16740962
start station name         16740962
start station latitude     16740962
start station longitude    16740962
end station id             16740962
end station name           16740962
end station latitude       16740962
end station longitude      16740962
bikeid                     16740962
usertype                   16740962
birth year                 16740962
gender                     16740962
month                      16740962
tripduration(min)          16740962
rideid                     16740962
dtype: int64

In [16]:
output_file = 'citi_bike/allData_a.csv'
allData.to_csv(output_file, index=False)

### Get all stations table

In [17]:
# Get all the start station and end station to make a all station list
start_stations = allData[['start station id', 'start station name', 'start station latitude','start station longitude']]
end_stations = allData[['end station id', 'end station name', 'end station latitude', 'end station longitude']]

start_stations = start_stations.drop_duplicates(subset='start station id', keep="last").reset_index(drop=True).sort_values(by=['start station id'])
end_stations = end_stations.drop_duplicates(subset='end station id', keep="last").reset_index(drop=True).sort_values(by=['end station id'])

start_stations = start_stations.sort_values(by=['start station id'])
end_stations = end_stations.sort_values(by=['end station id'])

start_stations.to_csv('citi_bike/start_stations.csv', index=False)
end_stations.to_csv('citi_bike/end_stations.csv', index=False)

In [18]:
# create all stations table
rename_start_stations = start_stations.rename(columns={'start station id': 'station id', 
                               'start station name': 'station name', 
                               'start station latitude': 'station latitude',
                               'start station longitude': 'station longitude'})

rename_end_stations = end_stations.rename(columns={'end station id': 'station id', 
                             'end station name': 'station name', 
                             'end station latitude': 'station latitude',
                             'end station longitude': 'station longitude'})

all_stations = rename_start_stations.append(rename_end_stations)
all_stations = all_stations.drop_duplicates(subset='station id', keep="last").reset_index(drop=True).sort_values(by=['station id'])
all_stations.to_csv('citi_bike/all_stations.csv', index=False)

### 2020 all data without station columns
only keep station ID for join

In [19]:
allData = allData.drop(columns=['start station name', 'start station latitude','start station longitude',
                                      'end station name', 'end station latitude','end station longitude'])
allData.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 16740962 entries, 0 to 11691
Data columns (total 12 columns):
 #   Column             Dtype
---  ------             -----
 0   tripduration       int64
 1   starttime          object
 2   stoptime           object
 3   start station id   int64
 4   end station id     int64
 5   bikeid             int64
 6   usertype           object
 7   birth year         int64
 8   gender             object
 9   month              object
 10  tripduration(min)  float64
 11  rideid             object
dtypes: float64(1), int64(5), object(6)
memory usage: 1.6+ GB

In [20]:
output_file = 'citi_bike/allData_no_Station.csv'
allData.to_csv(output_file, index=False)